.button{
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: $main-color;
    color: $text-w;

    font-family: MuseoModerno;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    &_main{
        margin-top: 67px; 
        width:300px;
        height:50px;
        font-size: 16px;
        border-radius: 5px;
        background-color: $main-color;
        font-weight: 500;
    }
}